@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$primary-color:#252525;
$white-color:#FFFFFF;
$font-main: Poppins,
sans-serif;
$font-lato: Lato,
sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
}

.header,
.services-card-container__title {
    font-weight: 500;
}

.search-form__title,
.services-card-container__item {
    font-weight: 600;
}

.title-name,
.services-top__text,
.about-us-top__text {
    font-weight: 700;
}

.header,
.swiper,
form,
input {
    width: 100%;
}

.header,
.search-form {
    background: $primary-color;
}

.search-form,
.header,
.title-button,
.search-form__button,
.plus:hover {
    color: $white-color;
}

.search-form__text,
.about-us-info__item-text,
.services-card-container__text {
    font-size: 16px;
}

.services-top__text,
.about-us-top__text,
.services-name__title,
.services-card-container__title,
.services-card-container__item,
.about-us-info__title,
.search-form__title {
    line-height: 130%;
}

.menu-item,
.arrow-prev,
.arrow-next,
.services_card_text_inner {
    color: $primary-color;
}

.search-form__button,
.plus:hover,
.title-button {
    background: #7637DD;
}

.services-top__text,
.about-us-top__text,
.menu-item:hover {
    color: #7637DD;
}

.active {
    color: $primary-color;
    background: $white-color;
}

.header {
    position: fixed;
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.hamburger,
.menu {
    background: $white-color;
}

.logo-active {
    filter: invert(100%);
}

.logo {
    margin-left: 100px;
}

.nav-item,
.services-top__img,
.about-us-top__img {
    float: left;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 56px;
}

.container {
    margin: 0 100px;
}

.menu-logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu-item {
    margin: 2rem 4rem;
    font-size: 1.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    position: fixed;
    top: 2rem;
    right: 1rem;
    padding: 4px;
    border: none;
    cursor: pointer;
    display: none;
}

.close-icon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    color: white;
    height: 500px;
}

.menu-container {
    padding-top: 6em;
}

.showMenu {
    transform: translateY(0);
}

.opacity {
    opacity: 0.2;
}

.swiper {
    margin-top: 158px;
    z-index: 0;
}

.title-name {
    font-size: 90px;
    line-height: 98px;
    letter-spacing: -0.015em;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 64px;
    align-items: center;
}

.title-button {
    padding: 15px 24px;
    border: none;
    margin-top: 60px;
    display: table-cell;
    vertical-align: middle;
}

.swiper-button-prev,
.swiper-button-next {
    top: 680px;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    border: 2px solid #252525;
    color: #F8F8F8;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 502px;
}

.services-top__img,
.about-us-top__img {
    margin: 10px 15px 0 0;
}

.services-top,
.about-us-top {
    margin-top: 100px;
}

.arrow {
    font-size: 12px;
    margin-left: 5px;
}

.services-top__text,
.about-us-top__text {
    font-size: 20px;
    letter-spacing: 0.4em;
    color: #7637DD;
    margin-bottom: 13px;
}

.services-name__title {
    font-size: 50px;
}

.services-name {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 100px;
    align-items: flex-end;
    margin-bottom: 72px;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.services-card {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}

.services-card__img {
    margin-top: 13px;
    margin-bottom: 10px;
}

.services-card-container__title {
    font-size: 12px;
    letter-spacing: 0.4em;
    color: #ABA9AF;
}

.services-card-container {
    padding: 0 32px;
    margin-top: -45px;
}

.services-card-container__item {
    font-size: 24px;
    margin-bottom: 24px;
}

.services-card-container__text {
    font-family: $font-lato;
    line-height: 150%;
    color: #5F5F5F;
}

.plus {
    float: right;
    margin: 0 5px 5px 0;
    font-size: 50px;
}

.plus:hover {
    width: 50px;
    height: 50px;
}

.about-us-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 100px;
}

.about-us-info__title {
    font-size: 50px;
    align-items: center;
}

.about-us-info__item-text {
    font-family: $font-lato;
    line-height: 24px;
    color: #5F5F5F;
}

.about-us-info__item {
    padding-block-start: 1em;
    padding-block-end: 1em;
}

.about-us-info__item-link {
    margin: 20px 0 73px 0;
}

.about-us-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
}

.search-form {
    padding: 32px 40px;
}

.search-form__button {
    width: 188px;
    height: 47px;
    border: none;
    margin-top: 40px;
}

.search-form__title {
    font-size: 36px;
    bottom: 16px;
}

.search-form__text {
    font-family: $font-lato;
    line-height: 150%;
    color: #C2C2C2;
    margin-bottom: 24px;
}

label {
    display: block;
    font-size: 14px;
    line-height: 160%;
}

#name,
#phone,
#email {
    height: 47px;
}

#message {
    height: 118px;
}

form {
    margin: 0 auto;
}

input {
    background: #3D3D3D;
    border: none;
    border-bottom: 2px solid #7637DD;
}

.form-field-wrapper {
    margin-bottom: 10px;
}

.form-field-wrapper.flex {
    display: flex;
}

.form-field-wrapper.flex>div {
    flex: 1;
    margin-left: 10px;
}

.form-field-wrapper.flex>div:first-child {
    margin-left: 0;
}

@media (min-width: 0px) and (max-width: 575px) {
    .hamburger,
    .form-field-wrapper.flex {
        display: block;
    }
    .nav {
        display: none;
    }
    .logo {
        margin-left: 10px;
    }
    .title {
        font-size: 30px;
        line-height: 120%;
    }
    .container {
        margin: 0 10px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .form-field-wrapper.flex {
        display: block;
    }
    li {
        margin-right: 10px;
    }
    .logo {
        margin-left: 35px;
    }
    .container {
        margin: 0 30px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .services-card {
        margin-top: 20px;
    }
    .title {
        font-size: 50px;
        line-height: 120%;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .form-field-wrapper.flex {
        display: block;
    }
    li {
        margin-right: 30px;
    }
    .container {
        margin: 0 50px;
    }
    .title {
        font-size: 70px;
        line-height: 120%;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .services-card {
        margin-top: 20px;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .form-field-wrapper.flex {
        display: block;
    }
    .container {
        margin: 0 50px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .about-us-form__foto {
        width: 100%;
    }
}