@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "header.scss",
"title.scss",
"services.scss",
"about_us_info.scss",
"responsive.scss",
"footer.scss";
$primary-color:#252525;
$white-color:#FFFFFF;
$font-main: Poppins,
sans-serif;
$font-lato: Lato,
sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
}

.header,
.services-card-container__title {
    font-weight: 500;
}

.search-form__title,
.search-form__button,
.services-card-container__item {
    font-weight: 600;
}

.title-name,
.services-top__text,
.about-us-top__text {
    font-weight: 700;
}

.header,
.swiper,
form,
input {
    width: 100%;
}

.header,
.search-form {
    background: $primary-color;
}

.nav-link {
    cursor: pointer;
}

.search-form,
.header,
.title-button,
.search-form__button,
.plus:hover {
    color: $white-color;
}

.search-form__text,
.about-us-info__item-text,
.services-card-container__text {
    font-size: 16px;
}

.services-top__text,
.about-us-top__text,
.services-name__title,
.services-card-container__title,
.services-card-container__item,
.about-us-info__title,
.search-form__title {
    line-height: 130%;
}

.menu-item,
.arrow-prev,
.arrow-next,
.services_card_text_inner {
    color: $primary-color;
}

.search-form__button,
.plus:hover,
.title-button {
    background: #7637DD;
}

.active {
    color: $primary-color;
    background-color: $white-color;
}