@media (min-width: 0px) and (max-width: 575px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .hamburger,
    .form-field-wrapper.flex {
        display: block;
    }
    .nav {
        display: none;
    }
    .logo {
        margin-left: 10px;
    }
    .title {
        font-size: 30px;
        line-height: 120%;
    }
    .container {
        margin: 0 10px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
    .title-name {
        margin-top: 150px;
        font-size: 40px;
        line-height: 30px;
    }
    .search-form {
        margin-bottom: 20px;
    }
    .title-button,
    .title-name {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .form-field-wrapper.flex {
        display: block;
    }
    li {
        margin-right: 10px;
    }
    .logo {
        margin-left: 35px;
    }
    .container {
        margin: 0 30px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .services-card {
        margin-top: 20px;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
    .search-form {
        margin-bottom: 20px;
    }
    .title-button,
    .title-name {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .form-field-wrapper.flex {
        display: block;
    }
    li {
        margin-right: 30px;
    }
    .container {
        margin: 0 50px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .services-card {
        margin-top: 20px;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .form-field-wrapper.flex>div {
        margin-left: 0;
    }
    .title-button,
    .title-name {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .search-form {
        margin-bottom: 20px;
    }
}

@media (min-width: 1000px) and (max-width: 1249px) {
    .title {
        display: flex;
        flex-direction: column;
    }
    .form-field-wrapper.flex {
        display: block;
        margin-left: 0;
    }
    .container {
        margin: 0 50px;
    }
    .services-cards,
    .about-us-info,
    .services-name,
    .about-us-form {
        grid-template-columns: 1fr;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .title-button,
    .title-name {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about-us-form__foto {
        width: 100%;
    }
    .search-form {
        margin-bottom: 20px;
    }
}